@model OnlineBanking.Models.Customer
@inject IHttpContextAccessor context

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*@context.HttpContext.Session.GetString("keyName")*@

<br>
<br>

<h2>Customer Details</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="CreateUpdateCustomer" method="post">
            
            <input type="hidden" asp-for="CustomerId" />

            <div class="form-group pb-3">
                <label asp-for="FirstName" class="control-label pb-2"></label>
                <input type="text" asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group pb-3">
                <label asp-for="LastName" class="control-label pb-2"></label>
                <input type="text" asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group pb-3">
                <label asp-for="DateOfBirth" class="control-label pb-2"></label>
                <input asp-for="DateOfBirth" class="form-control" required />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group  pb-3">
                <label asp-for="Address" class="control-label pb-2"></label>
                <input type="text" asp-for="Address" class="form-control" required />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group pb-3" >
                <label asp-for="City" class="control-label pb-2"></label>
                <input type="text" asp-for="City" class="form-control " required />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group  pb-3">
                <label asp-for="State" class="control-label  pb-2"></label>
                <input type="text" asp-for="State" class="form-control" required />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

            <div class="form-group  pb-3">
                <label asp-for="PinCode" class="control-label pb-2"></label>
                <input type="text" asp-for="PinCode" class="form-control " required />
                <span asp-validation-for="PinCode" class="text-danger"></span>
            </div>
            <div class="form-group pb-3">
                <label asp-for="Gender" class="control-label pb-2"></label>
                <input type="text" asp-for="Gender" class="form-control " required />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group pb-3">
                <label asp-for="PhoneNo" class="control-label pb-2"></label>
                <input type="text" asp-for="PhoneNo" class="form-control " required />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group pb-3">
                <label asp-for="Email" class="control-label  pb-2"></label>
                <input type="email" asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group pb-3">
                <label asp-for="AccountNumber" class="control-label pb-2"></label>
                <input type="tel" maxlength="11" asp-for="AccountNumber " class="form-control " required  readonly/>
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>

            <div class="form-group pb-3">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
