@model OnlineBanking.Models.AccountTransaction
@using System.Collections.Generic
@using System.Text.Json
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<br>
<br>
<h2>Create Transaction</h2>

<div class="row mt-4">
    <div class="col-md-4">

        <form asp-controller="Customer" asp-action="CreateTransaction" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" id="accountlist" name="accountlist" value="@(JsonSerializer.Serialize(Model.accounts))" />
            <input type="hidden" asp-for="transactionModel.CustomerId">
            <input type="hidden" asp-for="transactionModel.TransactionType" />

            <div class="form-group fw-bold pb-3">
                <label asp-for="transactionModel.FromAccountNumber" class="control-label pb-2"></label>
                <select id="FromAccount" asp-for="transactionModel.FromAccountNumber" asp-items="@Model.accounts" class="form-select form-select-sm">
                    <option value="defaultoption" selected disabled>  --Select AccountNumber-- </option>
                </select>
                <span asp-validation-for="transactionModel.FromAccountNumber" class="text-danger"></span>
            </div>


            <div class="form-group fw-bold pb-3">
                <label class="control-label pb-2"> Account Balance</label>
                <input type="text" id="CurrentBalance" name="CurrentBalance" value="" readonly="readonly" class="form-control">
            </div>

            <div class="form-group fw-bold pb-3">
                <label asp-for="transactionModel.ToAccountNumber" class="control-label pb-2"></label>
                <input id="ToAccount" type="number" asp-for="transactionModel.ToAccountNumber" class="form-control" maxlength="11" required  />
                <span asp-validation-for="transactionModel.ToAccountNumber" class="text-danger"></span>
            </div>


            <div class="form-group fw-bold pb-3">
                <label asp-for="transactionModel.TransferAmount" class="control-label pb-2"></label>
                <input asp-for="transactionModel.TransferAmount" class="form-control" type="number" step="0.01" required />
                <span asp-validation-for="transactionModel.TransferAmount" class="text-danger"></span>
            </div>

            <div class="form-group fw-bold pb-3">
                <label asp-for="transactionModel.Description" class="control-label pb-2"></label>
                <input type="text" asp-for="transactionModel.Description" class="form-control" required />
                <span asp-validation-for="transactionModel.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Transfer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#FromAccount").on("change", function () {
                var selected = $("#FromAccount").val();
                //$('#CurrentBalance').show();
                var dict = {};
                @{
                    var json = JsonSerializer.Serialize(Model.AccountBalance);
                }
               var dict = JSON.parse('@Html.Raw(json)');

                $.ajax({
                    type: "POST",
                    url: "/Customer/AccountBalanceInfo",
                    data: { model: dict,  selectedOption: selected },
                    dataType: "json",
                    success: function(data){
                        $("#CurrentBalance").val(data);
                    }
                })
            });


            $("#ToAccount").on("change", function() {
                var fromAccount = $("#FromAccount").val();
                var toAccount = $("#ToAccount").val();
                if (fromAccount === toAccount && (fromAccount!="") )  {
                    alert("From account and To account cannot be the same.");
                    $("#ToAccount").val("");
                    return;
                }
            });
        });

        
    </script>
}
