@model OnlineBanking.Models.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="errorMessageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title text-center" style="color: red">Error</h5>
                <button type="button" onclick="$('#errorMessageModal').modal('hide')">&times;</button>
            </div>
            
            <div class="modal-body">
                <p>@ViewBag.ErrorMessage</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#errorMessageModal').modal('hide')">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="login-card-container">
    <div class="login-card">
        <div class="login-card-header">
            <h1 style="font-size: 300%;">Login</h1>
        </div>
        <form class="login-card-form" asp-controller="Account" asp-action="Login">
            <div class="form-item">
                <span class="form-item-icon material-symbols-rounded">mail</span>
                <input type="text" asp-for="UserName" class="form-control" placeholder="Enter Email" autofocus required/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>


            <div class="form-item">
                <span class="form-item-icon material-symbols-rounded">lock</span>
                <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <!-- <div class="form-item-other">
                <div class="checkbox">
                    <input type="checkbox" id="rememberMeCheckbox" checked>
                    <label for="rememberMeCheckbox">Remember me</label>
                </div>
                <a href="#">I forgot my password!</a>
            </div> -->

            <button type="submit">Login </button>
        </form>
        <!-- <div class="login-card-footer">
            Don't have an account? <a href="#">Create a free account.</a>
        </div> -->
    </div>
</div>

@section Scripts {
    <script>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <text>
                $(document).ready(function () {
                    $('#errorMessageModal').modal('show');
                });
            </text>
        }
    </script>
 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

